@media (max-width: 500px) {
  .top {
    height: 100vh;
    width: 100%;
    z-index: 8;
  }
  .overlay-top1 {
    height: 100%;
    width: 35vw;
    
  }
  .overlay-top2 {
    height: 100%;
    width: 34vw;
    left: 33.333%;
  }
  .overlay-top3 {
    height: 100%;
    width: 36vw;
    left: 66.666%;
  }

  .botom {
    height: 50vh;

    bottom: 0;
    width: 100%;
    z-index: 8;
  }
  .overlay-bottom1 {
    height: 60%;
    width: 36vw;
    bottom: 0;
    right: 66.666%;
    z-index: 8;
  }
  .overlay-bottom2 {
    height: 60%;
    width: 36vw;

    bottom: 0;
    right: 33.333%;
    z-index: 8;
  }
  .overlay-bottom3 {
    height: 60%;
    width: 36vw;

    bottom: 0;
    right: 0;
    z-index: 8;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1248px) {
}
@media (min-width: 1440px) {
}
