@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


.singgah {
  position: relative !important;
  width: 100% !important;
}
.btn-thema {
  position: fixed;
  top: 2%;
  right: 5%;
  font-size: 2.5rem;
 
}
.btn-mode {
  border-radius: 100%;
  background-color: transparent;
}

.btn-thema:hover{
  cursor: pointer;
  scale: 1.1;
}

.blur {
  position: absolute;
  width: 50%;
  height: 10rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -1;
  bottom: 35%;
  right: 0%; 
  filter: blur(90px);
}
.blur4 {
  position: absolute;
  width: 40%;
  height: 20%;
  border-radius: 100%;
  background: #72dad8;
  z-index: -1;
  top: 0%;
  left: 20%; 
  filter: blur(90px);
}
.blur2 {
  position: absolute;
  width: 25%;
  height: 10rem;
  border-radius: 10%;
  background: #f4f96f6c;
  z-index: -1;
  top: 0%;
  left: 0%;
  filter: blur(90px);
}

.blur3 {
  position: absolute;
  width: 30%;
  height: 50%;
  border-radius: 100%;
  background: #5ae57a70;
  z-index: -1;
  bottom: 30%;
  left: 0%;
  filter: blur(90px);
}
.home{
  padding: 1rem;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.homeText{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
 }
 .homeText h2 {
  color: white;
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: 700;
  mix-blend-mode: difference;
  opacity: 1;
  z-index: 9;
  position: relative;
}

.homeText .text-prof::after {
  content:'Front End';
  position: absolute;
  bottom: 25px;
  right: 80px;
  z-index: -8 !important;
  color: rgb(218, 24, 24);
  opacity: .5;
  text-shadow: 5px 5px rgb(4, 16, 247);
}

.profil-home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.img-bc {
  position: relative;
}
.img-profil {
  position: absolute;
  top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);
}