@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.home{
  padding: 1rem;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdcbcf;
}
.homeText{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
 }
 .homeText h2 {
  color: white;
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: 700;
  mix-blend-mode: difference;
  opacity: 1;
  z-index: 9;
  position: relative;
}

.homeText .text-prof::after {
  content:'Front End';
  position: absolute;
  bottom: 25px;
  right: 80px;
  z-index: -8 !important;
  color: rgb(218, 24, 24);
  opacity: .5;
  text-shadow: 5px 5px rgb(4, 16, 247);
}

.profil-home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.img-bc {
  position: relative;
}
.img-profil {
  position: absolute;
  top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);
}