.containers-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.navbars {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  margin: 0 auto;
}
.content-nav {
  color: rgb(5, 5, 5) !important;
  font-weight: 500;
  font-size: 2.5rem;
  position: relative;
  width: 100%;
}
.nama {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.item-nav {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-nav ul  {
  display: flex;
  text-decoration: none;
}
.item-nav ul li {
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  list-style: none;
  margin-right: 1rem;
}

.active {
  position: static;
  opacity: 1;
  transition: opacity 1.5s linear;
  margin-bottom: 1rem;
}
.logo-nav-down {
  bottom: -2.5rem;
  position: absolute;
  transition: all 1s;
}
.logo-nav-down img {
  width: 2.5rem;
  border-radius: 2rem;
  transition: all 1s;
  transform: rotate(180deg);
}

.logo-nav-down img:hover {
  cursor: pointer;
  background-color: rgb(215, 107, 57);
  transition: all 0.5s;
}

.logo-nav-up {
  bottom: -3.5rem;
  position: absolute;
}
.logo-nav-up img {
  width: 4rem;
  border-radius: 2rem;
  transition: all 1s;
  transform: rotate(0deg);
}
.logo-nav-up img:hover {
  cursor: pointer;
  background-color: rgb(19, 145, 27);
  transition: all 0.1s;
}
