@media (max-width: 500px) {
  .home {
    height: 80vh;
  }
  .homeText h2 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3rem;
  }
  .homeText{
    padding-top: 5rem;
    text-align: center;
   }
  .homeText .text-prof::after {
    bottom: 8px;
    right: 30px;
    height: 100% !important;
  }
  .img-bc {
    width: 22em !important;
  }
  .img-profil {
    width: 11em !important
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1199px) {
  .main {
    height: 100vh;
  }
  .textIcon {
    font-size: 4rem;
    margin-top: 8rem;
  }
  .text-home h2 {
    font-size: 4.1rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1440px) {
  .text-home h2 {
    font-size: 4.9rem;
    line-height: 6rem !important;
  }
}
