.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  width: 100%;
}

.image {
  height: 400px !important;
  width: 450px !important;
}

.image img {
  width: 100%;
  height: 100%;
  margin: 0 1.5rem !important;
}

.btn-person {
  position: absolute;
  top: 6rem;
  left: 57%;
  background: linear-gradient(180deg, #b673f8, #b673f8, #9129fa);
  border-radius: 1rem;
  padding: 0.5rem 0rem;
  width: 13rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.514);
}
.btn-person span {
  color: whitesmoke;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
}

.deskripsi {
  margin: 0 auto !important;
  width: 65%;
}

.deskripsi p {
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: rgb(40, 40, 40);

  margin: 0 auto;
}

q {
  font-style: italic; /* Mengubah gaya huruf menjadi miring */
  /* color: #007bff; Mengubah warna teks */
  /* tambahkan properti CSS lainnya sesuai keinginan Anda */
}
@media (max-width: 500px) {
  .img-profil {
    width: 150px !important;
    height: 150px;
  }
  .btn-person {
    top: 6rem;
    left: 55%;
    padding: 0.5rem 0rem;
    width: 10rem;
  }
  .btn-person span {
    font-size: 14px;
  }

  .deskripsi p {
    line-height: 1.6;

    font-size: 0.9rem;
    text-align: justify;
  }

  .deskripsi {
    width: 100%;
    text-align: start !important;
  }
}

.blur-main {
  position: absolute;
  width: 50%;
  height: 10rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -1;
  bottom: 35%;
  right: 0%;
  filter: blur(90px);
}
.blur2-main {
  position: absolute;
  width: 40%;
  height: 20%;
  border-radius: 100%;
  background: #72dad8;
  z-index: -1;
  top: 0%;
  right: 20%;
  filter: blur(90px);
}
