.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.img-profil {
  width: 200px;
  height: 200px;
}

.img-profil img {
  border-radius: 100%;
}

.deskripsi {
  text-align: center;
  width: 70%;
}
.deskripsi p {
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(40, 40, 40);
}

q {
  font-style: italic; /* Mengubah gaya huruf menjadi miring */
  /* color: #007bff; Mengubah warna teks */
  /* tambahkan properti CSS lainnya sesuai keinginan Anda */
}
@media (max-width: 500px) {
  .img-profil {
    width: 150px !important;
    height: 150px;
  }
}
.blur-main {
  position: absolute;
  width: 50%;
  height: 10rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -1;
  bottom: 35%;
  right: 0%;
  filter: blur(90px);
}
.blur2-main {
  position: absolute;
  width: 40%;
  height: 20%;
  border-radius: 100%;
  background: #72dad8;
  z-index: -1;
  top: 0%;
  right: 20%;
  filter: blur(90px);
}
