@import url("https://db.onlinewebfonts.com/c/90cb7bb668481e6489432e687533592a?family=Twentieth+Century+Bold");
.footer {
  position: relative;
  padding: 2rem 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer p {
  color: white;
}
.footer span {
  color: white;
}

.info-footer h3 {
  color: white;
  font-weight: 700;
  font-family: "Twentieth Century Bold", sans-serif;
}
.contact-footer h3 {
  color: white;
  font-weight: 700;
  font-family: "Twentieth Century Bold", sans-serif;
}

@media (max-width: 500px) {
  .info-footer h3 {
    font-size: 1.5rem;
  }
  .info-footer p {
    font-size: 1rem;
  }
  .contact-footer h3 {
    font-size: 1.5rem;
  }
  .info-saya {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  .credit p a {
    font-size: 1rem;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1199px) {
}
@media (min-width: 1440px) {
}
